.sidebar-logo {
      padding: 0.5rem;
}

.sidebar-logo img {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      width: 160px;
      margin: 0 auto;
      
}
details {
    background-color: rgba(0, 0, 0, .05);
    padding: 1rem;
    border-radius: 15pt;
}

details[open] {
    background-color: rgba(0, 0, 0, .05);
    padding: 1rem;
    border-radius: 15pt;
}
summary::-webkit-details-marker,	
summary::marker {
 
}	

details[open] summary::-webkit-details-marker,
details[open] summary::marker {
}
