/*   ___    _________________
 *  /\_ \  /\______    ______\
 *  \//\ \ \/_____/\   \_____/
 *    \ \ \       \ \   \
 *     \ \ \       \ \   \
 *      \ \ \       \ \   \
 *  __   \ \ \       \ \   \
 * /\ \___\_\ \       \ \   \
 * \ \________/        \ \___\                
 *  \/_______/          \/___/
 *
 * Designed, built, and released under MIT license by @mdo. 
 * customized by Johannes Durst
 */

/*
 * Contents
 *
 * Global resets
 * Masthead
 * Sidebar
 * Slide effect
 * Posts and pages
 * Pagination
 * Reverse layout
 * Themes
 */


/*
 * Global resets
 *
 * Update the foundational and global aspects of the page.
 */

/* Prevent scroll on narrow devices */
html,
/*body {
  overflow-x: hidden;
  /* Karomuster als Hintergrund: */
  /*background-image: 
  repeating-linear-gradient(
      to right,
      transparent,
      transparent 19px,
      #d0d0d0 19px,
      #d0d0d0 20px),
  repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 19px,
      #d0d0d0 19px,
      #d0d0d0 20px);
}
*/
body {
  background-image: url(/public/background16x16.png);
}

html {
  font-family: Helvetica, Georgia, "Times New Roman", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: GapSans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
}


/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
  max-width: 28rem;
}
@media (min-width: 38em) {
  .container {
    max-width: 32rem;
  }
}
@media (min-width: 56em) {
  .container {
    max-width: 38rem;
  }
}


/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  border-bottom: 1px solid #eee;
  background-image: url("/public/background16x16.png");
  /*position: fixed;*/ 
}
.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
  /*color: white;*/
}
.masthead-title a {
  /*color: #505050;*/
  color: white;
}
.masthead-title small {
  font-size: 75%;
  font-weight: 400;
  color: #c0c0c0;
  letter-spacing: 0;
}

@media (max-width: 48em) {
  .masthead-title {
    text-align: center;
  }
  .masthead-title small {
    display: none;
  }
}


/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  /*color: rgba(255,255,255,.6);*/
  color: blue;
  /*background-color: #202020;*/
  background-color: #F5F5F5;
  /*background-image: url(/public/spiralblock.jpg);*/
  background-image:
    repeating-linear-gradient(
      to right,
      transparent,
      transparent 19px,
      #d0d0d0 19px,
      #d0d0d0 20px),
    repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 19px,
      #d0d0d0 19px,
      #d0d0d0 20px);
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  font-size: larger;
  /*color: #fff;*/
  color: blue;
}
.sidebar-item {
  padding: 1rem;
  color: black;
  font-size: smaller;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  border-bottom: 1px solid rgba(255,255,255,.1);

}
.sidebar-nav-item:last-child {
  border-bottom: 3px solid rgba(0,0,0,.2);
}
.sidebar-nav-item:first-child {
  border-top: 3px solid rgba(0,0,0,.2);
}


.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
  border-top: 1px solid rgba(255,255,255,.1);
}

.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  /*background-color: rgba(255,255,255,.1);*/
  /*background-color: darkgray;*/
  background-image: url(/public/background16x16.png);
  color: white;
  border-color: transparent;
  border-radius: 15px;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: 1.5rem;
  }
  .sidebar-nav-item {
    padding-left:  1.5rem;
    padding-right: 1.5rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  .8rem;
  left: 1rem;
  display: flex;
  align-items: center;
  padding: .25rem .75rem;
  color: #505050;
  background-color: #fff;
  border-radius: .25rem;
  cursor: pointer;
}

.sidebar-toggle::before {
  display: inline-block;
  width: 32px;
  height: 32px;
  content: "";
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23555' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

.sidebar-toggle:active,
#sidebar-checkbox:focus ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #fff;
  /*background-color: #555;*/
  background-image: url(/public/background16x16.png);
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle::before,
#sidebar-checkbox:checked ~ .sidebar-toggle::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z' clip-rule='evenodd'/%3E%3C/svg%3E") no-repeat;
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}

@media print {
  .sidebar-toggle {
    display: none;
  }
}

/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.wrap,
.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrap,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .3s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(14rem);
      -ms-transform: translateX(14rem);
          transform: translateX(14rem);
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
  margin-bottom: 4em;
  /*background-image: url("../background.png");*/
  /*background-color: #FAFAFA;*/
  background-color: white;
  padding : 5pt 5pt 5pt;
  border-radius: 15pt;
  box-shadow: 3px -2px 3px 2px black;
}

/* Blog post or page title */
.page-title,
.post-title,
.post-title a {
  color: #303030;
}
.page-title,
.post-title {
  margin-top: 0;
}

/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

.pagination {
  overflow: hidden; /* clearfix */
  margin-left: -1rem;
  margin-right: -1rem;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ccc;
  text-align: center;
}

/* Pagination items can be `span`s or `a`s */
.pagination-item {
  display: block;
  padding: 1rem;
  border: 1px solid #eee;
}
.pagination-item:first-child {
  margin-bottom: -1px;
}

/* Only provide a hover state for linked pagination items */
a.pagination-item:hover {
  background-color: #f5f5f5;
}

@media (min-width: 30em) {
  .pagination {
    margin: 3rem 0;
  }
  .pagination-item {
    float: left;
    width: 50%;
  }
  .pagination-item:first-child {
    margin-bottom: 0;
    border-top-left-radius:    4px;
    border-bottom-left-radius: 4px;
  }
  .pagination-item:last-child {
    margin-left: -1px;
    border-top-right-radius:    4px;
    border-bottom-right-radius: 4px;
  }
}


/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` and sidebar toggle
 * on the right side.
 */

.layout-reverse .sidebar {
  left: auto;
  right: -14rem;
}
.layout-reverse .sidebar-toggle {
  left: auto;
  right: 1rem;
}

.layout-reverse #sidebar-checkbox:checked ~ .sidebar,
.layout-reverse #sidebar-checkbox:checked ~ .wrap,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-14rem);
      -ms-transform: translateX(-14rem);
          transform: translateX(-14rem);
}

/*
*
*  Anpassungen zur mathematischen Darstellung
*
*/


/*
 * SVG Images
 *
 * Treating svg images
 * 
 */
 svg { 
  width: 100%;
  height: auto;
  }

/*
 * Sätze und Defintionen Spezial
 *
 * Änderungen in Blockquotes, durch > erreicht und {:.satz} bzw {:.definition}
 * am Ende des Blocks erreicht:
 * 
 */
/*
* KaTex Einstellungen:
*/
.katex { font-size: 1.1em; }


.satz {
  color: black;
}

blockquote.satz {
  border-left: 10px solid red;
  background-color: rgba(255,0,0,.1);
  border-top-right-radius: 15pt;
  border-bottom-right-radius: 15pt;
}

.definition {
  color: black;
  background-color: #f9f9f9;
}

blockquote.definition {
  border-left: 10px solid green;
  background-color: rgba(0,255,0,.1);
  border-top-right-radius: 15pt;
  border-bottom-right-radius: 15pt; 
}

blockquote {
  font-family: Helvetica, Arial, sans-serif;
  border-top-right-radius: 15pt;
  border-bottom-right-radius: 15pt; 
}

.achtung {
  color: black;
  background-color: rgba(255,255,0,.1);
}

blockquote.achtung {
  border-left: 10px solid yellow;
  background-color: rgba(255,255,0,.1);
  border-top-right-radius: 15pt;
  border-bottom-right-radius: 15pt; 
}

.zitat {
  background-color: rgba(0,0,0,.05);
}
blockquote.zitat {
  border-left: 0px solid darkgrey;
  border-radius: 15pt;
  margin-left: 1cm;
  margin-right: 1cm;
}

.aufgabe {
  background-color: rgba(0,0,0,.05);
}
blockquote.aufgabe {
  border-left: 0px solid blue;
  background-color: rgba(0,0,255,.1);
  border-radius: 15pt;
  margin-left: 1cm;
  margin-right: 1cm;
}


/*
 * Aufgaben Definitionen:
 *
 * Aufgaben mit aufklappbaren Lösungen mithilfe des <details> Tag:
 * erreicht durch {% details Aufgabentext %} Lösungstext {% enddetails %} {:.kompaktaufgabe}
 * am Ende des Blocks erreicht:
 * 
 */

 .kompaktaufgabe {
  /*color: saddlebrown;*/
  margin-bottom: 1em;
  padding: 4pt 4pt 4pt;
 }

 details.kompaktaufgabe[open]{
  background: #f9f9f9;
  border-radius: 15pt;
  font-size: normal;
 }

 details.kompaktaufgabe summary{
  /*background: #f9f9f9;
  border-radius: 15pt;*/
  font-size: normal;
  padding: 10pt;
  /*padding-bottom: 10pt;*/
 }

 /* Alten Marker entfernen: -webkit-details-marker für Chrome, list-style für alle anderen*/
 details.kompaktaufgabe summary {list-style: none}
 details.kompaktaufgabe summary::-webkit-details-marker {display: none; }

 /* Neue Marker einfügen: */
 details.kompaktaufgabe summary::before { 
  content: url("/images/00-icons/pen-right.svg");
  padding-right: 5pt;
}

/* By using [open] we can define different styles when the disclosure widget is open */
details.kompaktaufgabe[open] summary::before { 
  content: url("/images/00-icons/pen-down.svg");
  /*content:"🡑"; 
  color: red;*/
  padding-right: 5pt;
  font-size: normal;
}

/*
*   Wertetabelle einrichten
*/

.wertetabelle {
  background: none;
  border: none;
  /*width:50%;*/

}

table.wertetabelle{
  border-collapse: collapse;
  /*background-color: white;*/
  text-align: center;
}

table.wertetabelle td {
    border: 1px solid black;
    padding: 5pt;
    width: 3rem;
}

table.wertetabelle tr:last-child td {
    border-bottom: none;
}

table.wertetabelle tr:first-child td {
    border-top: none;
}


table.wertetabelle td:last-child {
    border-right: none;
}

table.wertetabelle td:first-child {
    border-left: none;    
    /*text-align: left;*/
}

/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * <body class="theme-base-0d"> in default.html
 */

/* Blue */
.theme-base-0d .sidebar,
.theme-base-0d .sidebar-toggle:active,
.theme-base-0d #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #6a9fb5;
}
.theme-base-0d .container a,
.theme-base-0d .sidebar-toggle,
.theme-base-0d .related-posts li a:hover {
  color: #6a9fb5;
}


/*
 * Overlay sidebar
 *
 * Make the sidebar content overlay the viewport content instead of pushing it
 * aside when toggled.
 */

.sidebar-overlay #sidebar-checkbox:checked ~ .wrap {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar-toggle {
  box-shadow: 0 0 0 .25rem #fff;
}
.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: .25rem 0 .5rem rgba(0,0,0,.1);
}

/* Only one tweak for a reverse layout */
.layout-reverse.sidebar-overlay #sidebar-checkbox:checked ~ .sidebar {
  box-shadow: -.25rem 0 .5rem rgba(0,0,0,.1);
}
